.react-flow__controls-button {
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  background-color: #232136 !important;
  svg {
    fill: #fff !important;
  }
}
