* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #191929;
}

.content {
  flex-grow: 1;
  height: 100%;
}

.flow {
  height: 65%;
}

.result {
  height: 30%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

// node styles
.node-main {
  color: #fff;
  height: auto;
  width: auto;
  min-width: 400px;
  background-color: transparent;
}
.node_header {
  text-align: left;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
}
.node-body {
  display: flex;
  flex-direction: column;
  background-color: #232136;
  margin: 5px 15px;
  height: 100%;
}
.node_content {
  width: 100%;
  padding: 10px 10px;
}

.ant-modal-content {
  background-color: #191929 !important;

  border: 1px solid rgba(255, 255, 255, 0.1) !important;

  svg {
    fill: #fff !important;
  }
}
.ant-modal-header {
  background-color: #191929 !important;
}

.ant-modal-title {
  color: #fff !important;
}

.ant-modal-body {
  overflow-y: auto !important;
  height: 400px !important;
}
