* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #191929;
}

.content {
  flex-grow: 1;
  height: 100%;
}

.flow {
  height: 65%;
}

.result {
  height: 35%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
